@import "./components/buttons";
@import "./components/loader";

@import "./layout/header";
@import "./layout/footer";
@import "./layout/form";

@import "./pages/acceuil";
@import "./pages/menu1";
@import "./pages/menu2";
@import "./pages/menu3";
@import "./pages/menu4";

@import "./utils/_mixins.scss";
@import "./utils/variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
        overflow-x:hidden;
    }
    
#lapage{
    font-family: 'Roboto', sans-serif; 
}
