@import "./pages/menu1";
@import "./utils/variables";
@import "/sass/utils/mixins";

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#lapage{
    font-family: 'Roboto', sans-serif;

}
footer h2{
    font-family: 'Shrikhand', cursive;
}
header {
    width: 100vw;
    height: 18vh;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column; 
    & img {
        width: 45%; 
        height: 30%;
        margin: auto;
        padding-top: 20px;
    }
    & p{
        background-color: rgb(230, 226, 240);
        box-shadow:inset rgb(209, 208, 208) 2px 3px 5px 1px;
        color: rgb(70, 69, 69);
        width: 100%;
        padding: 15px 0px 15px 0px;
        font-size: 1em;
        position: relative;
    }
    & .fas{
        color: rgb(70, 69, 69);
        font-size: 1em; /*a replacer*/
        position: absolute;
        top: 13%;
        left: 28%;
        z-index:1;
    }
}
#section1{
    background-color: $grey-background;
    width: 100vw;
    height: 38vh;
    text-align: center;
    & h1{
        margin: auto;
        padding-top: 40px;
        width: 70%;
    }
    & p {
        font-weight: 300;
        font-size: 1.1em;
    }
}
#bouton {
    @include bouton;
}
#section2 {
    width: 100vw;
    height: 50vh;
    & h1{
        padding-left: 15px;
    }
    & ul li{
        background-color: $grey-background;
        list-style-type: none;
        width: 90%;
        border-radius: 20px;
        box-shadow: rgb(211, 209, 209)1px 6px 12px 0px;
        margin-bottom: 15px;
    }
    & a {
        list-style-type: none;
        text-decoration: none;
    }
}
.fonctionnement{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;

    & h2{
        font-size: 0.9em;
        color: black;
        padding:10px 10px;
    }
    & .fas {
        padding-left: 28px;
        color: grey;
        font-size: 17px;
    }
}
.fonctionnement .fas:hover{
    color: indigo;
}
.purple-num{
    border-radius:30px 30px;
    font-size: 0.8;
    background-color: $color-primary;
    height: 5px;
    font-size: 0.8em;
    color: white;
    width: 8px;
    padding:5px 8px 14px 8px;
    position: absolute;
    left: -4%;
}

#section3{ /*definir height*/
    background-color: $grey-background;
    width: 100vw;
    display: flex;
    flex-direction: column;
    & h1{
        padding-top: 20px;
        padding-left: 30px;
    }
}
article{
    background-color: white;
    width: 80vw;
    height: 30vh;
    margin: auto;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    border-radius: 15px;
    box-shadow: rgb(221, 220, 220) 4px 4px 4px ;
    & .far {
        color: rgb(48, 48, 48);
        font-size: 18px;
        text-align: center;
        padding-top: 10px;
    }
    & :nth-child(1){
        background-color: rgb(80, 255, 246);
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 8;
        grid-row-end: 10;
        padding-left: 10px;
        font-size: 1em;
        width: 120%;
    }
    & :nth-child(2){
        background-color: rgb(252, 255, 80);
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 9;
        grid-row-end: 11;
        padding-left: 10px;
        font-size: 0.9em;
    }
    & :nth-child(3){
        background-color: rgb(211, 164, 207);
        grid-column-start: 9;
        grid-column-end: 11;
        grid-row-start: 8;
        grid-row-end: 10;
    }
    
}
#background1 {
    background-image: url("/ohmyfood/public/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-size: 100% 100%,contain;
    width: 80vw;
    height: 22vh;
    position: relative;
    border-radius: 15px 15px 0px 0px;
    & p{
        font-size: 1em;
        position: absolute;
        width: 28%;
        height: 18%;
        text-align: center;
        padding: 5px 0px 0px 0px;
        border-radius: 3px;
        background-color: rgb(136, 219, 191);
        color:  rgb(42, 148, 113);
        top: 0%;
        right: 5%;
    }
}

#background2{
    background-image: url("/ohmyfood/public/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    background-size: 100% 100%,contain;
    width: 80vw;
    height: 22vh;
    position: relative;
    border-radius: 15px 15px 0px 0px;
    & p{
        font-size: 1em;
        position: absolute;
        width: 28%;
        height: 18%;
        text-align: center;
        padding: 5px 0px 0px 0px;
        border-radius: 3px;
        background-color: rgb(136, 219, 191);
        color:  rgb(42, 148, 113);
        top: 0%;
        right: 5%;
    }
}
#background3{
    background-image: url("/ohmyfood/public/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    background-size: 100% 100%,contain;
    width: 80vw;
    height: 22vh;
    border-radius: 15px 15px 0px 0px;
    & p {
        display: none;
    }
}
#background4{
    background-image: url("/ohmyfood/public/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    background-size: 100% 100%,contain;
    width: 80vw;
    height: 22vh;
    border-radius: 15px 15px 0px 0px;
    & p {
        display: none;
    }
}
footer{
    background-color: rgb(66, 66, 66);
    height: 50vh;
    width: 100vw;
    & h2{
        color: white;
        padding: 20px 0px 0px 30px;
    }
    & ul li {
        color: white;
        background-color:rgb(66, 66, 66);
        border: none;
        box-shadow: none;
        font-weight: normal;
        list-style-type: none;
        text-decoration: none;
        border: red 2px solid;
        & a {
            color: white;
            list-style-type: none;
            text-decoration: none;
        }
        & .fas {
            background-color: lightcoral;
            font-size: 17px;
            padding: 0px 8px ;
        }
    }
}
  