header {
    width: 100vw;
    height: 18vh;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column; 
    & img {
        width: 45%; 
        height:35%;
        margin: auto;  
    }
.paris_belleville{
        background-color: rgb(230, 226, 240);
        box-shadow:inset rgb(209, 208, 208) 2px 3px 5px 1px;
        color: rgb(70, 69, 69);
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 15px 0px;
    }
    & p{
        font-size: 1.1em;
    }
    & .fas{ 
        color: rgb(70, 69, 69);
        font-size: 1em;
        padding-right: 12px;
    }
}
@media screen and (min-width: 768px){
    header{
        width: 100vw;
        height: 25vh;
        & img {
            max-width: 345px;
            max-height: 41px;
        }
    }
    .paris_belleville .fas{ 
            font-size:16px;
            padding:3px 12px 0px 0px;
        }
    .paris_belleville p{
            font-size: 1.3em;
        }
}

@media screen and (min-width: 1024px){
    header{
        width: 100vw;
        height: 25vh;
}
}