@charset "UTF-8";
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header_menu {
  width: 100vw;
  height: 8vh;
  background-color: white;
}
.header_menu img {
  width: 45%;
  height: 60%;
  margin: auto;
  padding-top: 0px;
  position: relative;
}
.header_menu .fas {
  color: #4d4d4d;
  position: absolute;
  top: 3%;
  left: 8%;
}

.img-principale {
  width: 100vw;
  height: 40vh;
}
.img-principale img {
  width: 100%;
  height: 100%;
}

.menu_détails {
  background-color: #f1f1f1;
  margin-top: 0px;
}
.menu_détails h2 {
  font-weight: 400;
  font-size: 1.2em;
  padding-left: 10px;
}
.menu_détails ul {
  padding: 0;
  width: 100vw;
}
.menu_détails ul li {
  background-color: white;
  width: 95%;
  margin: auto;
  list-style-type: none;
  box-shadow: #ebe9e9 1px 6px 15px 5px;
  border-radius: 15px;
}
.menu_détails h3 {
  padding: 12px 7px 0px 7px;
}

.menu_prix {
  height: 5vh;
  margin: -30px 20px 0px 10px;
  padding: 0px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu_prix p {
  font-weight: lighter;
}
.menu_prix .leprix {
  font-weight: bold;
}

.title_menu {
  height: 10vh;
}
.title_menu h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.9em;
  padding-top: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 30px 30px 0px 0px;
  position: relative;
  width: 95vw;
}
.title_menu .far {
  position: absolute;
  top: 44%;
  left: 85%;
  font-size: 25px;
}

.description_menu {
  background-color: #f1f1f1;
  border-radius: 50px 50px 0px 0px;
  margin-top: -90px;
  height: 180vh;
}

form {
  border: hotpink 2px solid;
  height: 15%;
  text-align: center;
  padding-top: 70px;
}

#bouton-commander {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-size: 1em;
  height: 7vh;
  width: 55vw;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 5px 5px 1px #d8d6d6;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#lapage {
  font-family: "Roboto", sans-serif;
}

footer h2 {
  font-family: "Shrikhand", cursive;
}

header {
  width: 100vw;
  height: 18vh;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}
header img {
  width: 45%;
  height: 30%;
  margin: auto;
  padding-top: 20px;
}
header p {
  background-color: #e6e2f0;
  box-shadow: inset #d1d0d0 2px 3px 5px 1px;
  color: #464545;
  width: 100%;
  padding: 15px 0px 15px 0px;
  font-size: 1em;
  position: relative;
}
header .fas {
  color: #464545;
  font-size: 1em;
  position: absolute;
  top: 13%;
  left: 28%;
  z-index: 1;
}

#section_descriptif {
  background-color: #f3f1f1;
  width: 100vw;
  height: 38vh;
  text-align: center;
}
#section_descriptif h1 {
  margin: auto;
  padding-top: 40px;
  width: 70%;
}
#section_descriptif p {
  font-weight: 300;
  font-size: 1.1em;
}

#bouton {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-size: 1em;
  height: 7vh;
  width: 55vw;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 5px 5px 1px #d8d6d6;
}

#section_fonctionnement {
  width: 100vw;
}
#section_fonctionnement h1 {
  padding-left: 15px;
}
#section_fonctionnement ul li {
  background-color: #f3f1f1;
  list-style-type: none;
  width: 90%;
  border-radius: 20px;
  box-shadow: #d3d1d1 1px 6px 12px 0px;
  margin-bottom: 15px;
}
#section_fonctionnement a {
  list-style-type: none;
  text-decoration: none;
}

.fonctionnement {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.fonctionnement h2 {
  font-size: 0.9em;
  color: black;
  padding: 10px 10px;
}

.purple-num {
  border-radius: 30px 30px;
  font-size: 0.8;
  background-color: #9356DC;
  height: 5px;
  font-size: 0.8em;
  color: white;
  width: 8px;
  padding: 5px 8px 15px 10px;
}

/**partie vignette*/
#section_restaurant {
  background-color: #f3f1f1;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
#section_restaurant h1 {
  padding-top: 20px;
  padding-left: 30px;
}

.vignette_menu {
  background-color: white;
  border-radius: 15px 15px;
  width: 80vw;
  height: 30vh;
  margin: auto;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column-reverse;
}

.nom_coeur {
  height: 10vh;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  border-radius: 0px 0px 15px 15px;
  box-shadow: #dddcdc 4px 4px 4px;
}
.nom_coeur .far {
  color: #303030;
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
}
.nom_coeur :nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-left: 10px;
  font-size: 1em;
  width: 100%;
}
.nom_coeur :nth-child(2) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-left: 10px;
  font-size: 0.9em;
}
.nom_coeur :nth-child(3) {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

#background1 {
  background-image: url("./public/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: 100% 100%, contain;
  height: 20vh;
  position: relative;
  border-radius: 15px 15px 0px 0px;
}
#background1 p {
  font-size: 1em;
  position: absolute;
  width: 28%;
  height: 18%;
  text-align: center;
  padding: 5px 0px 0px 0px;
  border-radius: 3px;
  background-color: #88dbbf;
  color: #2a9471;
  top: 0%;
  right: 5%;
}

#background2 {
  background-image: url("/public/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: 100% 100%, contain;
  height: 20vh;
  position: relative;
  border-radius: 15px 15px 0px 0px;
}
#background2 p {
  font-size: 1em;
  position: absolute;
  width: 28%;
  height: 18%;
  text-align: center;
  padding: 5px 0px 0px 0px;
  border-radius: 3px;
  background-color: #88dbbf;
  color: #2a9471;
  top: 0%;
  right: 5%;
}

#background3 {
  background-image: url("/public/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: 100% 100%, contain;
  height: 20vh;
  position: relative;
  border-radius: 15px 15px 0px 0px;
}

#background4 {
  background-image: url("/public/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: 100% 100%, contain;
  height: 20vh;
  position: relative;
  border-radius: 15px 15px 0px 0px;
}

footer {
  background-color: #424242;
  height: 35vh;
  width: 100vw;
}
footer h2 {
  color: white;
  padding: 20px 0px 0px 30px;
}
footer ul li {
  color: white;
  background-color: #424242;
  border: none;
  box-shadow: none;
  font-weight: normal;
  list-style-type: none;
  text-decoration: none;
}
footer ul li a {
  color: white;
  list-style-type: none;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
