
body{
    background-color: rgb(228, 222, 222);
}

article{
background-color: white;
width: 25vw;
height: 30vh;
display: grid;
grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
border-radius: 30px;
box-shadow: rgb(221, 220, 220) 4px 4px 4px ;

}
#background {
    background-image: url("/public/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-size: 100% 100%,contain;
    width: 25vw;
    height: 20vh;
    position: relative;
    border-radius: 30px 30px 0px 0px;
}
/*#background p{
    font-size: 2em;
    position: absolute;
    width: 25%;
    height: 15%;
    text-align: center;
    padding: 10px 0px;
    background-color: rgb(99, 212, 175);
    color:  rgb(69, 150, 123);
    top: 0%;
    right: 5%;
}
article .far {
    color: rgb(0, 0, 0);
    font-size: 45px;
    text-align: center;
    padding-top: 10px;
}

article :nth-child(1){
    background-color: rgb(80, 255, 246);
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 10;
    padding-left: 10px;
}
article :nth-child(2){
    background-color: rgb(252, 255, 80);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 9;
    grid-row-end: 11;
    padding-left: 10px;
}
article :nth-child(3){
    background-color: rgb(211, 164, 207);
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 8;
    grid-row-end: 10;
}

