@charset "UTF-8";
/*carte menu format portable pour menu1,3,4*/
/*carte menu format portable pour la page 2*/
/*carte menu format tablette dans les pages menu1,3,4*/
/*carte menu format tablet dans la page 2*/
/*carte menu format desktop pour page1,3,4*/
/*carte menu format desktop dans la page 2*/
/*bouton linear gradient*/
/*le bouton linear gradient*/
#bouton {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-size: 1em;
  height: 7vh;
  width: 55vw;
  max-width: 308px;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 5px 5px 1px #d8d6d6;
}
#bouton:link {
  outline: none;
  /*pour retirer contour noir lors du click*/
  border: none;
}
#bouton:visited {
  outline: none;
  border: none;
}
#bouton:focus {
  outline: none;
  border: none;
}
#bouton:hover {
  outline: none;
  border: none;
  background: linear-gradient(#ffb2f3, #ce52ff);
  box-shadow: 0px 4px 4px rgba(34, 62, 66, 0.5);
  -webkit-transition: box-shadow 1s ease;
  transition: box-shadow 1s ease;
}
#bouton:active {
  outline: none;
  border: none;
}

#bouton-commander {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-size: 1em;
  height: 7vh;
  width: 55vw;
  max-width: 308px;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 5px 5px 1px #d8d6d6;
  margin-top: 30px;
}
#bouton-commander:link {
  outline: none;
  /*pour retirer contour noir lors du click*/
  border: none;
}
#bouton-commander:visited {
  outline: none;
  border: none;
}
#bouton-commander:focus {
  outline: none;
  border: none;
}
#bouton-commander:hover {
  outline: none;
  border: none;
  background: linear-gradient(#ffb2f3, #ce52ff);
  box-shadow: 0px 4px 4px rgba(34, 62, 66, 0.5);
  -webkit-transition: box-shadow 1s ease;
  transition: box-shadow 1s ease;
}
#bouton-commander:active {
  outline: none;
  border: none;
}

.form-commander {
  height: 25vh;
  text-align: center;
  padding: 20px 0px;
}

/*Le numéro violet dans la page d'acceuil*/
.purple-num {
  border-radius: 40px 40px;
  background-color: #9356DC;
  height: 5px;
  font-size: 0.7em;
  color: white;
  width: 5px;
  padding: 5px 15px 18px 8px;
  position: absolute;
  left: -17%;
  top: 25%;
}

/* le bouton coeur qui se remplie en hover */
.container {
  width: 10vw;
  height: 10vh;
  overflow: hidden;
}
.container .far {
  font-size: 19px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  -webkit-text-stroke: 1px white;
}
.container .fas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transform: scale(0);
  transition: 0.3s ease;
}
.container .far:hover .fas {
  transform: scale(1);
  opacity: 4;
}
.container .far:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px white;
}

@media screen and (min-width: 768px) {
  #bouton, #bouton-commander {
    font-size: 1em;
    height: 7vh;
    width: 40vw;
  }

  .purple-num {
    border-radius: 40px 40px;
    background-color: #9356DC;
    height: 5px;
    font-size: 0.7em;
    color: white;
    width: 5px;
    padding: 5px 15px 18px 8px;
    position: absolute;
    left: -16%;
    top: 25%;
  }

  /* le bouton coeur qui se remplie en hover */
  .container {
    width: 7vw;
    height: 7vh;
    overflow: hidden;
  }
  .container .far {
    font-size: 21px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    -webkit-text-stroke: 1px white;
  }
  .container .fas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transform: scale(0);
    transition: 0.3s ease;
  }
  .container .far:hover .fas {
    transform: scale(1);
    opacity: 4;
  }
  .container .far:hover {
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0px white;
  }
}
@media screen and (min-width: 1024px) {
  /*Le numéro violet dans la page d'acceuil*/
  .purple-num {
    border-radius: 40px 40px;
    background-color: #9356DC;
    height: 5px;
    font-size: 0.7em;
    color: white;
    width: 5px;
    padding: 5px 15px 18px 8px;
    position: absolute;
    left: -14%;
    top: 25%;
  }

  /* le bouton coeur qui se remplie en hover */
  .container {
    width: 4vw;
    height: 7vh;
    overflow: hidden;
  }
  .container .far {
    font-size: 21px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    -webkit-text-stroke: 1px white;
  }
  .container .fas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transform: scale(0);
    transition: 0.3s ease;
  }
  .container .far:hover .fas {
    transform: scale(1);
    opacity: 4;
  }
  .container .far:hover {
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0px white;
  }

  #bouton, #bouton-commander {
    font-size: 1.2em;
    height: 7vh;
    width: 25vw;
  }
}
#lapage {
  animation: transition-loading 1.5s linear;
  opacity: 1;
}

@keyframes transition-loading {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #9356DC;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  10% {
    border-top: 16px solid #FF79DA;
  }
  90% {
    transform: rotate(360deg);
    opacity: 1;
    border-top: 16px solid #99E2D0;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
header {
  width: 100vw;
  height: 18vh;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}
header img {
  width: 45%;
  height: 26%;
  margin: auto;
}
header .paris_belleville {
  background-color: #e6e2f0;
  box-shadow: inset #d1d0d0 2px 3px 5px 1px;
  color: #464545;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px 0px;
}
header p {
  font-size: 1.1em;
}
header .fas {
  color: #464545;
  font-size: 1em;
  padding-right: 12px;
}

@media screen and (min-width: 768px) {
  header {
    width: 100vw;
    height: 25vh;
  }

  .paris_belleville .fas {
    font-size: 16px;
    padding: 3px 12px 0px 0px;
  }

  .paris_belleville p {
    font-size: 1.3em;
  }
}
@media screen and (min-width: 1024px) {
  header {
    width: 100vw;
    height: 25vh;
  }
}
footer {
  background-color: #424242;
  width: 100vw;
  height: 35vh;
}
footer h2 {
  color: white;
  padding: 20px 0px 0px 30px;
  font-family: "Shrikhand", cursive;
}
footer ul {
  padding: 20px 0px 0px 25px;
}
footer ul li {
  color: white;
  background-color: #424242;
  border: none;
  box-shadow: none;
  font-weight: normal;
  list-style-type: none;
  text-decoration: none;
  padding: 10px 0px 0px 0px;
}
footer ul li a {
  color: white;
  list-style-type: none;
  text-decoration: none;
}
footer ul li .fas {
  font-size: 14px;
  width: 25px;
}

@media screen and (min-width: 768px) {
  footer {
    background-color: #424242;
    width: 100vw;
    height: 38vh;
    padding-left: 15px;
    text-align: center;
  }
  footer h2 {
    font-size: 35px;
    color: white;
    padding: 20px 0px 0px 30px;
    font-family: "Shrikhand", cursive;
  }
  footer ul {
    padding: 20px 0px 0px 25px;
  }
  footer ul li {
    color: white;
    background-color: #424242;
    border: none;
    box-shadow: none;
    font-weight: normal;
    list-style-type: none;
    text-decoration: none;
    padding: 10px 0px 0px 0px;
  }
  footer ul li a {
    color: white;
    list-style-type: none;
    text-decoration: none;
  }
  footer ul li .fas {
    font-size: 14px;
    width: 25px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1024px) {
  footer {
    background-color: #424242;
    width: 100vw;
    height: 38vh;
  }
  footer h2 {
    font-size: 35px;
    color: white;
    padding: 20px 0px 0px 0px;
    font-family: "Shrikhand", cursive;
  }
  footer ul {
    padding: 20px 0px 0px 0px;
  }
  footer ul li {
    color: white;
    background-color: #424242;
    border: none;
    box-shadow: none;
    font-weight: normal;
    list-style-type: none;
    text-decoration: none;
    padding: 10px 0px 0px 0px;
  }
  footer ul li a {
    color: white;
    list-style-type: none;
    text-decoration: none;
  }
  footer ul li .fas {
    font-size: 14px;
    width: 25px;
  }
}
.form-explorer {
  padding: 25px 0px 0px 0px;
}

/*partie description ohmyfood*/
#section_descriptif {
  background-color: #f1f1f1;
  width: 100vw;
  text-align: center;
  padding: 50px 0px 60px 0px;
}
#section_descriptif h1 {
  margin: auto;
  width: 70%;
}
#section_descriptif p {
  font-weight: 300;
  font-size: 1.1em;
}

/*partie fonctionnement du site ohmyfood*/
#section_fonctionnement {
  width: 100vw;
  padding-bottom: 50px;
}
#section_fonctionnement h1 {
  padding: 30px 0px 20px 20px;
}
#section_fonctionnement ul {
  width: 100vw;
  padding-left: 50px;
}
#section_fonctionnement ul li {
  background-color: #f1f1f1;
  list-style-type: none;
  width: 90%;
  height: 9vh;
  border-radius: 20px;
  box-shadow: #d3d1d1 1px 6px 12px 0px;
  padding-top: 7px;
  margin-bottom: 25px;
}
#section_fonctionnement ul li a {
  list-style-type: none;
  text-decoration: none;
}

/*dans la partie fonctionnement -> la div avec vignette purple num, icone et phrases */
.fonctionnement {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  margin: auto;
}
.fonctionnement:hover > .fas {
  color: #9356DC;
}
.fonctionnement h2 {
  font-size: 1em;
  color: black;
  padding: 10px 10px;
}
.fonctionnement .fas {
  color: gray;
  font-size: 20px;
}

/*partie vignette*/
#section_restaurant {
  background-color: #f1f1f1;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
#section_restaurant h1 {
  padding: 30px 0px 20px 34px;
}

.vignette_menu {
  background-color: white;
  border-radius: 15px 15px;
  width: 80vw;
  height: 30vh;
  margin: auto;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column-reverse;
}
.vignette_menu a {
  list-style-type: none;
  text-decoration: none;
  color: black;
}
.vignette_menu a:hover {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

/*descriptif des vignettes + le coeur*/
.nom_coeur {
  height: 10vh;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  border-radius: 0px 0px 15px 15px;
  box-shadow: #dddcdc 4px 4px 4px;
}
.nom_coeur :nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 10px 0px 0px 10px;
  font-size: 1em;
  width: 100%;
}
.nom_coeur :nth-child(2) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-left: 10px;
  font-size: 0.9em;
  padding-top: 15px;
}
.nom_coeur :nth-child(3) {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

#background1 {
  background-image: url("/public/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: 100% 100%, contain;
  width: 80vw;
  height: 22vh;
  position: relative;
  border-radius: 15px 15px 0px 0px;
}
#background1 p {
  font-size: 0.9em;
  position: absolute;
  width: 28%;
  height: 25%;
  text-align: center;
  padding: 5px 0px 0px 0px;
  border-radius: 3px;
  background-color: #88dbbf;
  color: #2a9471;
  top: 10%;
  right: 5%;
}

#background2 {
  background-image: url("/public/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: 100% 100%, contain;
  width: 80vw;
  height: 22vh;
  position: relative;
  border-radius: 15px 15px 0px 0px;
}
#background2 p {
  font-size: 0.9em;
  position: absolute;
  width: 28%;
  height: 25%;
  text-align: center;
  padding: 5px 0px 0px 0px;
  border-radius: 3px;
  background-color: #88dbbf;
  color: #2a9471;
  top: 10%;
  right: 5%;
}

#background3 {
  background-image: url("/public/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: 100% 100%, contain;
  width: 80vw;
  height: 22vh;
  border-radius: 15px 15px 0px 0px;
}
#background3 p {
  visibility: hidden;
}

#background4 {
  background-image: url("/public/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: 100% 100%, contain;
  width: 80vw;
  height: 22vh;
  border-radius: 15px 15px 0px 0px;
}
#background4 p {
  visibility: hidden;
}

/*format desktop*/
@media screen and (min-width: 768px) {
  /*partie fonctionnement du site ohmyfood*/
  #section_fonctionnement {
    width: 100vw;
    padding-bottom: 50px;
  }
  #section_fonctionnement h1 {
    padding: 30px 0px 20px 40px;
  }
  #section_fonctionnement ul {
    width: 100vw;
    padding-left: 50px;
  }
  #section_fonctionnement ul li {
    background-color: #f1f1f1;
    list-style-type: none;
    width: 60%;
    height: 9vh;
    margin: auto;
    padding-top: 7px;
    margin-bottom: 25px;
  }

  /*partie vignette*/
  #section_restaurant {
    background-color: #f1f1f1;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 50px;
  }
  #section_restaurant h1 {
    padding: 30px 0px 30px 34px;
    width: 100%;
  }

  .vignette_menu {
    background-color: white;
    border-radius: 15px 15px;
    width: 40vw;
    height: 30vh;
    margin: auto;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column-reverse;
  }
  .vignette_menu a {
    list-style-type: none;
    text-decoration: none;
    color: black;
  }
  .vignette_menu a:hover {
    list-style-type: none;
    text-decoration: none;
    color: black;
  }

  #background1, #background2 {
    background-size: 100% 100%, contain;
    width: 40vw;
    height: 22vh;
    position: relative;
    border-radius: 15px 15px 0px 0px;
  }
  #background1 p, #background2 p {
    font-size: 1em;
    position: absolute;
    width: 28%;
    height: 25%;
    text-align: center;
    padding: 5px 0px 0px 0px;
    border-radius: 3px;
    background-color: #88dbbf;
    color: #2a9471;
    top: 10%;
    right: 5%;
  }

  #background3, #background4 {
    background-size: 100% 100%, contain;
    width: 40vw;
    height: 22vh;
    position: relative;
    border-radius: 15px 15px 0px 0px;
  }
  #background3 p, #background4 p {
    font-size: 0.9em;
    position: absolute;
    width: 28%;
    height: 25%;
    text-align: center;
    padding: 5px 0px 0px 0px;
    border-radius: 3px;
    background-color: #88dbbf;
    color: #2a9471;
    top: 10%;
    right: 5%;
  }
}
/*format desktop*/
@media screen and (min-width: 1024px) {
  #section_fonctionnement {
    width: 100vw;
    padding-bottom: 50px;
  }
  #section_fonctionnement h1 {
    padding: 30px 0px 20px 40px;
  }
  #section_fonctionnement ul {
    width: 100vw;
    padding-left: 50px;
    max-width: 1034px;
    max-height: 221px;
    margin: auto;
  }
  #section_fonctionnement ul li {
    background-color: #f1f1f1;
    list-style-type: none;
    width: 60%;
    height: 9vh;
    margin: auto;
    padding-top: 7px;
    margin-bottom: 25px;
    max-width: 590px;
    max-height: 57px;
  }

  /*partie vignette*/
  .vignette_menu {
    background-color: white;
    border-radius: 15px 15px;
    width: 22vw;
    height: 45vh;
    margin: auto;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column-reverse;
  }
  .vignette_menu a {
    list-style-type: none;
    text-decoration: none;
    color: black;
  }
  .vignette_menu a:hover {
    list-style-type: none;
    text-decoration: none;
    color: black;
  }
  .vignette_menu #background1, .vignette_menu #background2 {
    background-size: 100% 100%, contain;
    width: 22vw;
    height: 45vh;
    position: relative;
    border-radius: 15px 15px 0px 0px;
  }
  .vignette_menu #background1 p, .vignette_menu #background2 p {
    font-size: 1em;
    position: absolute;
    width: 28%;
    height: 15%;
    text-align: center;
    padding: 8px 5px 0px 5px;
    border-radius: 3px;
    background-color: #88dbbf;
    color: #2a9471;
    top: 10%;
    right: 10%;
  }
  .vignette_menu #background3, .vignette_menu #background4 {
    background-size: 100% 100%, contain;
    width: 22vw;
    height: 45vh;
    position: relative;
    border-radius: 15px 15px 0px 0px;
  }
  .vignette_menu #background3 p, .vignette_menu #background4 p {
    font-size: 0.9em;
    position: absolute;
    width: 28%;
    height: 25%;
    text-align: center;
    padding: 5px 0px 0px 0px;
    border-radius: 3px;
    background-color: #88dbbf;
    color: #2a9471;
    top: 10%;
    right: 5%;
  }

  /*descriptif des vignettes + le coeur*/
  .nom_coeur {
    height: 12vh;
  }
  .nom_coeur :nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .nom_coeur :nth-child(3) {
    padding: 0px 0px 0px 10px;
  }
}
/*carte menu format portable pour menu1,3,4*/
/*carte menu format portable pour la page 2*/
/*carte menu format tablette dans les pages menu1,3,4*/
/*carte menu format tablet dans la page 2*/
/*carte menu format desktop pour page1,3,4*/
/*carte menu format desktop dans la page 2*/
/*bouton linear gradient*/
/*carte menu format portable pour menu1,3,4*/
/*carte menu format portable pour la page 2*/
/*carte menu format tablette dans les pages menu1,3,4*/
/*carte menu format tablet dans la page 2*/
/*carte menu format desktop pour page1,3,4*/
/*carte menu format desktop dans la page 2*/
/*bouton linear gradient*/
/*le bouton linear gradient*/
#bouton {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-size: 1em;
  height: 7vh;
  width: 55vw;
  max-width: 308px;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 5px 5px 1px #d8d6d6;
}
#bouton:link {
  outline: none;
  /*pour retirer contour noir lors du click*/
  border: none;
}
#bouton:visited {
  outline: none;
  border: none;
}
#bouton:focus {
  outline: none;
  border: none;
}
#bouton:hover {
  outline: none;
  border: none;
  background: linear-gradient(#ffb2f3, #ce52ff);
  box-shadow: 0px 4px 4px rgba(34, 62, 66, 0.5);
  -webkit-transition: box-shadow 1s ease;
  transition: box-shadow 1s ease;
}
#bouton:active {
  outline: none;
  border: none;
}

#bouton-commander {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-size: 1em;
  height: 7vh;
  width: 55vw;
  max-width: 308px;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 5px 5px 1px #d8d6d6;
  margin-top: 30px;
}
#bouton-commander:link {
  outline: none;
  /*pour retirer contour noir lors du click*/
  border: none;
}
#bouton-commander:visited {
  outline: none;
  border: none;
}
#bouton-commander:focus {
  outline: none;
  border: none;
}
#bouton-commander:hover {
  outline: none;
  border: none;
  background: linear-gradient(#ffb2f3, #ce52ff);
  box-shadow: 0px 4px 4px rgba(34, 62, 66, 0.5);
  -webkit-transition: box-shadow 1s ease;
  transition: box-shadow 1s ease;
}
#bouton-commander:active {
  outline: none;
  border: none;
}

.form-commander {
  height: 25vh;
  text-align: center;
  padding: 20px 0px;
}

/*Le numéro violet dans la page d'acceuil*/
.purple-num {
  border-radius: 40px 40px;
  background-color: #9356DC;
  height: 5px;
  font-size: 0.7em;
  color: white;
  width: 5px;
  padding: 5px 15px 18px 8px;
  position: absolute;
  left: -17%;
  top: 25%;
}

/* le bouton coeur qui se remplie en hover */
.container {
  width: 10vw;
  height: 10vh;
  overflow: hidden;
}
.container .far {
  font-size: 19px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  -webkit-text-stroke: 1px white;
}
.container .fas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transform: scale(0);
  transition: 0.3s ease;
}
.container .far:hover .fas {
  transform: scale(1);
  opacity: 4;
}
.container .far:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px white;
}

@media screen and (min-width: 768px) {
  #bouton, #bouton-commander {
    font-size: 1em;
    height: 7vh;
    width: 40vw;
  }

  .purple-num {
    border-radius: 40px 40px;
    background-color: #9356DC;
    height: 5px;
    font-size: 0.7em;
    color: white;
    width: 5px;
    padding: 5px 15px 18px 8px;
    position: absolute;
    left: -16%;
    top: 25%;
  }

  /* le bouton coeur qui se remplie en hover */
  .container {
    width: 7vw;
    height: 7vh;
    overflow: hidden;
  }
  .container .far {
    font-size: 21px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    -webkit-text-stroke: 1px white;
  }
  .container .fas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transform: scale(0);
    transition: 0.3s ease;
  }
  .container .far:hover .fas {
    transform: scale(1);
    opacity: 4;
  }
  .container .far:hover {
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0px white;
  }
}
@media screen and (min-width: 1024px) {
  /*Le numéro violet dans la page d'acceuil*/
  .purple-num {
    border-radius: 40px 40px;
    background-color: #9356DC;
    height: 5px;
    font-size: 0.7em;
    color: white;
    width: 5px;
    padding: 5px 15px 18px 8px;
    position: absolute;
    left: -14%;
    top: 25%;
  }

  /* le bouton coeur qui se remplie en hover */
  .container {
    width: 4vw;
    height: 7vh;
    overflow: hidden;
  }
  .container .far {
    font-size: 21px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    -webkit-text-stroke: 1px white;
  }
  .container .fas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transform: scale(0);
    transition: 0.3s ease;
  }
  .container .far:hover .fas {
    transform: scale(1);
    opacity: 4;
  }
  .container .far:hover {
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0px white;
  }

  #bouton, #bouton-commander {
    font-size: 1.2em;
    height: 7vh;
    width: 25vw;
  }
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header_menu {
  width: 100vw;
  height: 8vh;
  background-color: white;
}
.header_menu img {
  width: 45%;
  height: 60%;
  margin: auto;
  padding-top: 0px;
  position: relative;
}
.header_menu .fas {
  color: #2e2e2e;
  position: absolute;
  top: 3%;
  left: 8%;
}

.img-principale {
  width: 100vw;
  height: 40vh;
}
.img-principale img {
  width: 100%;
  height: 100%;
}

.description_menu {
  background-color: #f1f1f1;
  border-radius: 50px 50px 0px 0px;
  margin-top: -50px;
  height: max-content;
}

/* partie plats, entrées, desserts*/
.menu_détails_entrées {
  background-color: #f1f1f1;
  margin-top: 0px;
  height: max-content;
  animation: slide-menu 2s ease;
}
.menu_détails_entrées h2 {
  font-size: 1.2em;
  padding-left: 10px;
}
.menu_détails_entrées ul {
  padding: 0;
  width: 100vw;
  max-width: 568px;
  max-height: 243px;
  margin: auto;
}
.menu_détails_entrées ul li {
  background-color: white;
  width: 95%;
  margin: auto;
  list-style-type: none;
  box-shadow: #dad8d8 1px 6px 15px 5px;
  border-radius: 15px;
  max-width: 539px;
  max-height: 71px;
  margin-bottom: 15px;
}
.menu_détails_entrées h3 {
  padding: 12px 7px 0px 7px;
}
.menu_détails_entrées ul li {
  box-shadow: #dad8d8 1px 3px 5px 2px;
}
.menu_détails_entrées h2 {
  padding: 30px 0px 20px 20px;
}

.menu_détails_plats {
  background-color: #f1f1f1;
  margin-top: 0px;
  height: max-content;
  animation: slide-menu 2.5s ease;
  transition-delay: 1000ms;
}
.menu_détails_plats h2 {
  font-size: 1.2em;
  padding-left: 10px;
}
.menu_détails_plats ul {
  padding: 0;
  width: 100vw;
  max-width: 568px;
  max-height: 243px;
  margin: auto;
}
.menu_détails_plats ul li {
  background-color: white;
  width: 95%;
  margin: auto;
  list-style-type: none;
  box-shadow: #dad8d8 1px 6px 15px 5px;
  border-radius: 15px;
  max-width: 539px;
  max-height: 71px;
  margin-bottom: 15px;
}
.menu_détails_plats h3 {
  padding: 12px 7px 0px 7px;
}
.menu_détails_plats ul li {
  box-shadow: #dad8d8 1px 3px 5px 2px;
}
.menu_détails_plats h2 {
  padding: 30px 0px 20px 20px;
}

.menu_détails_desserts {
  background-color: #f1f1f1;
  margin-top: 0px;
  height: max-content;
  animation: slide-menu 3s ease;
  transition-delay: 1000ms;
  /*& h2::after {
      content: "";
      position:absolute;
      bottom: 25%;
      height: 50%;
      border-bottom: blue 4px solid;
  }*/
}
.menu_détails_desserts h2 {
  font-size: 1.2em;
  padding-left: 10px;
}
.menu_détails_desserts ul {
  padding: 0;
  width: 100vw;
  max-width: 568px;
  max-height: 243px;
  margin: auto;
}
.menu_détails_desserts ul li {
  background-color: white;
  width: 95%;
  margin: auto;
  list-style-type: none;
  box-shadow: #dad8d8 1px 6px 15px 5px;
  border-radius: 15px;
  max-width: 539px;
  max-height: 71px;
  margin-bottom: 15px;
}
.menu_détails_desserts h3 {
  padding: 12px 7px 0px 7px;
}
.menu_détails_desserts ul li {
  box-shadow: #dad8d8 1px 3px 5px 2px;
}
.menu_détails_desserts h2 {
  padding: 30px 0px 10px 20px;
  position: relative;
}

@keyframes slide-menu {
  0% {
    transform: translate(0, 5%);
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0%);
    opacity: 1;
  }
}
/* descriptif des plats - h3 et p*/
.menu_prix {
  height: 5vh;
  margin: 5px 20px 15px 10px;
  padding: 0px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu_prix p {
  font-weight: 400;
}
.menu_prix .leprix {
  font-weight: bold;
}

/* titre du menu et icone coeur */
.title_menu {
  height: 10vh;
}
.title_menu h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.9em;
  padding-top: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 30px 30px 0px 0px;
  position: relative;
}
.title_menu .far {
  position: absolute;
  top: 44%;
  left: 85%;
  font-size: 25px;
}

/*format tablette*/
@media screen and (min-width: 768px) {
  .menu_détails_entrées {
    background-color: #f1f1f1;
    margin-top: 0px;
    height: max-content;
  }
  .menu_détails_entrées h2 {
    font-size: 1.2em;
    padding-left: 10px;
  }
  .menu_détails_entrées ul {
    padding: 0;
    width: 100vw;
    max-width: 568px;
    max-height: 243px;
    margin: auto;
  }
  .menu_détails_entrées ul li {
    background-color: white;
    width: 95%;
    margin: auto;
    list-style-type: none;
    box-shadow: #dad8d8 1px 6px 15px 5px;
    border-radius: 15px;
    max-width: 539px;
    max-height: 71px;
    margin-bottom: 15px;
  }
  .menu_détails_entrées h3 {
    padding: 12px 7px 0px 7px;
  }

  .menu_détails_plats, .menu_détails_desserts {
    background-color: #f1f1f1;
    margin-top: 0px;
  }
  .menu_détails_plats h2, .menu_détails_desserts h2 {
    width: 100vw;
    font-size: 1.6em;
    padding-left: 20px;
    max-width: 768px;
    margin: auto;
  }
  .menu_détails_plats ul, .menu_détails_desserts ul {
    padding: 0;
    width: 100vw;
    max-width: none;
    max-height: none;
    margin: auto;
    background: rebeccapurple;
  }
  .menu_détails_plats ul li, .menu_détails_desserts ul li {
    background-color: white;
    width: 95%;
    margin: auto;
    list-style-type: none;
    box-shadow: #dad8d8 1px 6px 15px 5px;
    border-radius: 15px;
    font-size: 0.9em;
    max-width: 1000px;
    max-height: 100px;
    margin-bottom: 10px;
  }
  .menu_détails_plats h3, .menu_détails_desserts h3 {
    padding: 12px 7px 0px 7px;
    font-size: 1.4em;
  }

  .header_menu {
    width: 100vw;
    height: 12vh;
    background-color: white;
  }
  .header_menu img {
    width: 28%;
    height: 42%;
    margin: auto;
    padding-top: 0px;
    position: relative;
  }
  .header_menu .fas {
    color: #2e2e2e;
    font-size: 22px;
    position: absolute;
    top: 4%;
    left: 9%;
  }

  .img-principale {
    width: 100vw;
    height: 60vh;
  }
  .img-principale img {
    width: 100%;
    height: 100%;
  }

  .title_menu {
    height: 10vh;
  }
  .title_menu h1 {
    font-family: "Shrikhand", cursive;
    font-size: 2em;
    padding-top: 20px;
    padding-left: 20px;
    background-color: #f1f1f1;
    border-radius: 30px 30px 0px 0px;
    position: relative;
  }
  .title_menu .far {
    position: absolute;
    top: 68%;
    left: 85%;
    font-size: 35px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1024px) {
  .menu_détails_entrées, .menu_détails_plats, .menu_détails_desserts {
    margin-top: 0px;
  }
  .menu_détails_entrées h2, .menu_détails_plats h2, .menu_détails_desserts h2 {
    width: 100vw;
    font-size: 1.7em;
    max-width: 768px;
    padding-left: 80px;
    margin: 0;
  }
  .menu_détails_entrées ul, .menu_détails_plats ul, .menu_détails_desserts ul {
    padding: 0;
    width: 100vw;
    max-width: none;
    max-height: none;
    margin: auto;
  }
  .menu_détails_entrées ul li, .menu_détails_plats ul li, .menu_détails_desserts ul li {
    background-color: white;
    width: 95%;
    margin: auto;
    list-style-type: none;
    box-shadow: #dad8d8 1px 6px 15px 5px;
    border-radius: 15px;
    max-width: 1000px;
    max-height: 100px;
    margin-bottom: 15px;
  }
  .menu_détails_entrées h3, .menu_détails_plats h3, .menu_détails_desserts h3 {
    padding: 12px 7px 0px 7px;
  }

  .description_menu {
    background-color: #f1f1f1;
    border-radius: 50px 50px 0px 0px;
    margin-top: -100px;
    height: max-content;
  }

  .img-principale {
    height: 78vh;
  }

  .title_menu h1 {
    font-family: "Shrikhand", cursive;
    font-size: 2.5em;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 60px;
  }

  .title_menu .far {
    position: absolute;
    top: 82%;
    left: 92%;
    font-size: 38px;
  }
}
/* partie plats, entrées, desserts*/
.menu_détails_entrées_plus {
  background-color: #f1f1f1;
  margin-top: 0px;
  height: max-content;
  animation: slide-menu 1.5s ease;
  max-height: 515px;
}
.menu_détails_entrées_plus h2 {
  font-size: 1.2em;
  padding: 30px 0px 20px 20px;
}
.menu_détails_entrées_plus ul {
  padding: 0;
  width: 100vw;
  max-width: 568px;
  max-height: none;
  margin: auto;
  background: yellow;
}
.menu_détails_entrées_plus ul li {
  background-color: pink;
  width: 95%;
  list-style-type: none;
  box-shadow: #dad8d8 1px 6px 15px 5px;
  border-radius: 15px;
  max-width: 539px;
  max-height: 71px;
  margin: auto;
  margin-bottom: 15px;
}
.menu_détails_entrées_plus h3 {
  padding: 12px 7px 0px 7px;
}

@media screen and (min-width: 768px) {
  .menu_détails_entrées_plus {
    margin-top: 0px;
    height: 68vh;
  }
  .menu_détails_entrées_plus h2 {
    width: 100vw;
    font-size: 1.6em;
    padding-left: 20px;
    max-width: 768px;
    margin: auto;
  }
  .menu_détails_entrées_plus ul {
    max-width: none;
    max-height: none;
    padding: 0;
    width: 100vw;
    margin: auto;
  }
  .menu_détails_entrées_plus ul li {
    background-color: white;
    width: 95%;
    margin: auto;
    list-style-type: none;
    box-shadow: #dad8d8 1px 6px 15px 5px;
    border-radius: 15px;
    max-width: 1000px;
    max-height: 100px;
    margin-bottom: 15px;
  }
  .menu_détails_entrées_plus h3 {
    padding: 12px 7px 0px 7px;
    font-size: 1.4em;
  }
}
@media screen and (min-width: 1024px) {
  .menu_détails_entrées_plus {
    margin-top: 0px;
  }
  .menu_détails_entrées_plus h2 {
    width: 100vw;
    font-size: 1.7em;
    max-width: 768px;
    padding-left: 80px;
    margin: 0;
  }
  .menu_détails_entrées_plus ul {
    padding: 0;
    width: 100vw;
    max-width: none;
    max-height: none;
    margin: auto;
  }
  .menu_détails_entrées_plus ul li {
    background-color: white;
    width: 95%;
    margin: auto;
    list-style-type: none;
    box-shadow: #dad8d8 1px 6px 15px 5px;
    border-radius: 15px;
    max-width: 1000px;
    max-height: 100px;
    margin-bottom: 15px;
  }
  .menu_détails_entrées_plus h3 {
    padding: 12px 7px 0px 7px;
  }
}
/* partie plats, entrées, desserts*/
.menu_détails_entrées {
  background-color: #f1f1f1;
  margin-top: 0px;
  height: max-content;
  animation: slide-menu 1.5s ease;
}
.menu_détails_entrées h2 {
  font-size: 1.2em;
  padding-left: 10px;
}
.menu_détails_entrées ul {
  padding: 0;
  width: 100vw;
  max-width: 568px;
  max-height: 243px;
  margin: auto;
}
.menu_détails_entrées ul li {
  background-color: white;
  width: 95%;
  margin: auto;
  list-style-type: none;
  box-shadow: #dad8d8 1px 6px 15px 5px;
  border-radius: 15px;
  max-width: 539px;
  max-height: 71px;
  margin-bottom: 15px;
}
.menu_détails_entrées h3 {
  padding: 12px 7px 0px 7px;
}
.menu_détails_entrées ul li {
  box-shadow: #dad8d8 1px 3px 5px 2px;
}
.menu_détails_entrées h2 {
  padding: 30px 0px 20px 20px;
}

/* partie plats, entrées, desserts*/
.menu_détails_entrées {
  background-color: #f1f1f1;
  margin-top: 0px;
  height: max-content;
  animation: slide-menu 1.5s ease;
}
.menu_détails_entrées h2 {
  font-size: 1.2em;
  padding-left: 10px;
}
.menu_détails_entrées ul {
  padding: 0;
  width: 100vw;
  max-width: 568px;
  max-height: 243px;
  margin: auto;
}
.menu_détails_entrées ul li {
  background-color: white;
  width: 95%;
  margin: auto;
  list-style-type: none;
  box-shadow: #dad8d8 1px 6px 15px 5px;
  border-radius: 15px;
  max-width: 539px;
  max-height: 71px;
  margin-bottom: 15px;
}
.menu_détails_entrées h3 {
  padding: 12px 7px 0px 7px;
}
.menu_détails_entrées ul li {
  box-shadow: #dad8d8 1px 3px 5px 2px;
}
.menu_détails_entrées h2 {
  padding: 30px 0px 20px 20px;
}

/*carte menu format portable pour menu1,3,4*/
/*carte menu format portable pour la page 2*/
/*carte menu format tablette dans les pages menu1,3,4*/
/*carte menu format tablet dans la page 2*/
/*carte menu format desktop pour page1,3,4*/
/*carte menu format desktop dans la page 2*/
/*bouton linear gradient*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

#lapage {
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=style.css.map */
