@import "../utils/variables";
@import "../utils/mixins";

/*le bouton linear gradient*/
#bouton {
    @include bouton-linear-gradient;
  }

#bouton-commander{
    @include bouton-linear-gradient;
    margin-top: 30px;
}
.form-commander {
  height: 25vh;
  text-align: center;
  padding:20px 0px;
}

/*Le numéro violet dans la page d'acceuil*/
.purple-num{
    border-radius:40px 40px;
    background-color: $color-primary;
    height: 5px;
    font-size: 0.7em;
    color: white;
    width: 5px;
    padding:5px 15px 18px 8px;
    position: absolute;
    left: -17%;
    top: 25%;
}
/* le bouton coeur qui se remplie en hover */
.container{
    width: 10vw;
    height: 10vh; 
    overflow: hidden;
  & .far{
    font-size: 19px;
    position:relative;
    z-index:1;
    cursor: pointer;
    -webkit-text-stroke: 1px white;
  }
  & .fas{
    position:absolute;
    left:0;
    top:0;
    z-index:-1;
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity:0;
    transform: scale(0);
    transition: all 0.7s ease;
  }
  & .far:hover .fas{
    transform:scale(1);
    opacity:4;
  }
  & .far:hover{
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0px white;
  }
}

@media screen and (min-width: 768px){
  #bouton, #bouton-commander {
    @include bouton-linear-gradient-tablet
  }
  .purple-num{
    border-radius:40px 40px;
    background-color: $color-primary;
    height: 5px;
    font-size: 0.7em;
    color: white;
    width: 5px;
    padding:5px 15px 18px 8px;
    position: absolute;
    left: -16%;
    top: 25%;
}
/* le bouton coeur qui se remplie en hover */
  .container{
    width: 5vw;
    height: 5vh;
      & .far{
      font-size: 21px;
    }
      & .fas{
      position:absolute;
      left:0;
      top:0;
      z-index:-1;
      background: linear-gradient(#FF79DA, #9356DC);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    & .far:hover .fas{
      transform:scale(1);
      opacity:4;
    }
    & .far:hover{
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 0px white;
    }
  }
}
@media screen and (min-width: 1024px){
  /*Le numéro violet dans la page d'acceuil*/
  .purple-num{
    border-radius:40px 40px;
    background-color: $color-primary;
    height: 5px;
    font-size: 0.7em;
    color: white;
    width: 5px;
    padding:5px 15px 18px 8px;
    position: absolute;
    left: -14%;
    top: 25%;
}
/* le bouton coeur qui se remplie en hover */
.container{
  width: 4vw;
  height: 7vh;
  overflow: hidden;
  & .far{
  font-size: 21px;
  position:relative;
  z-index:1;
  cursor: pointer;
  -webkit-text-stroke: 1px white;
}
}
#bouton, #bouton-commander {
  @include bouton-linear-gradient-desktop;
}
}
