#lapage{
    animation: transition-loading 1.2s linear ; 
    opacity: 1;
}
@keyframes transition-loading{
    0%{
        opacity: 0;
    }
    99%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.loader {
    border: 10px solid #141414;
    border-top: 10px solid $color-primary;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 850ms linear;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    margin: auto;
  }
  
  @keyframes spin {
    0% { 
        transform: rotate(0deg);
        opacity: 1;
     }
     10%{
        border-top: 10px solid $color-secondary; 
     }
     90%{
        transform: rotate(360deg); 
        opacity: 1;
        border-top: 10px solid $color-tertiary; 
        
     }
    100% { 
        transform: rotate(360deg); 
        opacity: 0;
    }
  }


