#lapage{
    animation: transition-loading 1.2s linear ; 
    opacity: 1;
}
@keyframes transition-loading{
    0%{
        opacity: 0;
    }
    99%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.loader {
    border: 15px solid #363636;
    border-top: 15px solid $color-primary;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 850ms linear;
    position: absolute;
    top: 50%;
    left: 35%;
    opacity: 0;
  }
  
  @keyframes spin {
    0% { 
        transform: rotate(0deg);
        opacity: 1;
     }
     10%{
        border-top: 15px solid $color-secondary; 
     }
     90%{
        transform: rotate(360deg); 
        opacity: 1;
        border-top: 15px solid $color-tertiary; 
        
     }
    100% { 
        transform: rotate(360deg); 
        opacity: 0;
    }
  }

  /*format tablet*/
@media screen and (min-width: 768px){
  .loader {
    position: absolute;
    top: 50%;
    left: 45%;
  }
}
  /*format desktop*/
  @media screen and (min-width: 1024px){
    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }