/*partie description ohmyfood*/
#section_descriptif{
    background-color: $grey-background;
    width: 100vw;
    text-align: center;
    padding: 50px 0px 60px 0px;
    & h1{
        margin: auto;
        width: 70%;
    }
    & p {
        font-weight: 300;
        font-size: 1.1em;
    }
}

/*partie fonctionnement du site ohmyfood*/
#section_fonctionnement {
    width: 100vw;
    padding-bottom: 50px;
    & h1{
        padding: 30px 0px 20px 20px;

    }
    & ul{
        width: 100vw;
        padding-left: 50px;
    }
    & ul li{
        background-color: $grey-background;
        list-style-type: none;
        width: 90%;
        height: 9vh;
        border-radius: 20px;
        box-shadow: rgb(211, 209, 209)1px 6px 12px 0px;
        padding-top: 7px;
        margin-bottom: 25px;
        &:hover{
            background-color: rgb(243, 240, 240);
        }
    & a{
        list-style-type: none;
        text-decoration: none;
  
    }
    }
}
/*dans la partie fonctionnement -> la div avec vignette purple num, icone et phrases */
.fonctionnement{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    margin: auto;
    &:hover >.fas{
    color: $color-primary; 
    }
    & h2{
        font-size: 1em;
        color: black;
        padding:10px 10px;
    }
    & .fas {
        color: gray;
        font-size: 20px;
    }
}

/*partie vignette*/
#section_restaurant{
    background-color: $grey-background;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    & h1{
       padding: 30px 0px 20px 34px;
    }
    & a{
        list-style-type: none;
        text-decoration: none;
        color: black;
    }
    & a:hover {
        list-style-type: none;
        text-decoration: none;
        color: black;
    }
}
.vignette_menu{
    background-color: white;
    border-radius: 15px 15px;
    width: 80vw;
    height: 30vh;
    margin: auto;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column-reverse;
    & a{
    list-style-type: none;
    text-decoration: none;
    color: black;
    }
    & a:hover {
        list-style-type: none;
        text-decoration: none;
        color: black;
    }
}

/*descriptif des vignettes + le coeur*/
.nom_coeur{
    height: 10vh;
    display: grid;
    grid-template-columns:  25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25% ;
    border-radius: 0px 0px 15px 15px;
    box-shadow: rgb(221, 220, 220) 4px 4px 4px ;
    & :nth-child(1){
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        padding: 10px 0px 0px 10px;
        font-size: 1em;
        width: 100%;
    }
    & :nth-child(2){
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        padding-left: 10px;
        font-size: 0.9em;
        padding-top: 15px;
    }
    & :nth-child(3){
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end:3;
    }  
}
#background1 {
    background-image: url("/public/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    @include background-nouveau;
}

#background2{
    background-image: url("/public/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    @include background-nouveau;
}
#background3{
    background-image: url("/public/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    @include background-sans-nouveau;
}
#background4{
    background-image: url("/public/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    @include background-sans-nouveau;
}

/*format desktop*/
@media screen and (min-width: 768px){
/*partie fonctionnement du site ohmyfood*/
    #section_fonctionnement {
    width: 100vw;
    padding-bottom: 50px;
    & h1{
        padding: 30px 0px 20px 40px;
    }
    & ul{
        width: 100vw;
        padding-left: 50px;
    }
    & ul li{
        background-color: $grey-background;
        list-style-type: none;
        width: 60%;
        height: 9vh;
        margin: auto;
        padding-top: 7px;
        margin-bottom: 25px;
    }
}
/*partie vignette*/
    #section_restaurant{
        background-color: $grey-background;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-bottom: 50px;
    & h1{
        padding: 30px 0px 30px 34px;
        width: 100%;
    }
}
    .vignette_menu{
        background-color: white;
        border-radius: 15px 15px;
        width: 40vw;
        height: 30vh;
        margin: auto;
        margin-bottom: 35px;
        display: flex;
        flex-direction: column-reverse;
        & a{
        list-style-type: none;
        text-decoration: none;
        color: black;
        }
        & a:hover {
            list-style-type: none;
            text-decoration: none;
            color: black;
    }
}
    #background1, #background2 {  
        @include background-nouveau-tablet;
    }
    #background3,#background4{
        @include background-sans-nouveau-tablet;
    }
}

/*format desktop*/
@media screen and (min-width: 1024px){
    #section_fonctionnement {
        width: 100vw;
        padding-bottom: 50px;
        & h1{
            padding: 30px 0px 20px 40px;
        }
        & ul{
            width: 100vw;
            padding-left: 50px;
            max-width: 1034px;
            max-height: 221px;
            margin: auto;
        }
        & ul li{
            background-color: $grey-background;
            list-style-type: none;
            width: 60%;
            height: 9vh;
            margin: auto;
            padding-top: 7px;
            margin-bottom: 25px;
            max-width: 590px;
            max-height: 57px;
        }
        }
/*partie vignette*/
    .vignette_menu{
        background-color: white;
        border-radius: 15px 15px;
        width: 22vw;
        height: 45vh;
        margin: auto;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column-reverse;
        & a{
        list-style-type: none;
        text-decoration: none;
        color: black;
        }
        & a:hover {
            list-style-type: none;
            text-decoration: none;
            color: black;
        }
    #background1, #background2{
        @include background-nouveau-desktop
        }
    #background3, #background4{
        @include background-sans-nouveau-desktop
        }
    }
    /*descriptif des vignettes + le coeur*/
.nom_coeur{
    height: 12vh;
    & :nth-child(1){
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    & :nth-child(3){
        padding: 0px 0px 0px 10px;
    }  
}
}

