@import "../utils/mixins";

/* partie plats, entrées, desserts*/
.menu_details_entrees{
    @include slide-card-menu;
    animation: slide-menu 1.5s ease;
    position: relative;
}
.menu_details_entrees ul li{
    position: relative;
    overflow: hidden;
}
.green-check {
    background-color: $color-tertiary;
    border-radius: 0px 15px 15px 0px;
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 100%;
}
.green-check .fas{
    color: white;
    font-size: 25px;
    position: absolute;
    top: 30%;
    left: 25%;
}
.menu_details_entrees ul li:hover .green-check{
    transform: translate(-100%);
    transition-duration: 0.5s;
}
.menu_details_entrees ul li:hover .green-check .fas{
    transform: rotate(360deg);
    transition-duration: 0.5s;
} 
.menu_details_entrees ul li:hover .menu_prix{
    width: 75%;
}
.menu_details_entrees ul li:hover .menu_prix p{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*partie plats*/

.menu_details_plats{
    @include slide-card-menu;
    animation: slide-menu 2.5s ease;
    transition-delay: 1000ms;
}
.menu_details_plats ul li{
    position: relative;
    overflow: hidden;
}
.menu_details_plats ul li:hover .green-check{
    transform: translate(-100%);
    transition-duration: 0.5s;
}
.menu_details_plats ul li:hover .green-check .fas{
    transform: rotate(360deg);
    transition-duration: 0.5s;
} 
.menu_details_plats ul li:hover .menu_prix{
    width: 75%;
}
.menu_details_plats ul li:hover .menu_prix p{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*partie desserts*/
.menu_details_desserts{
    @include slide-card-menu;
    animation: slide-menu 3s ease;
    transition-delay: 1000ms;
}
.menu_details_desserts ul li{
    position: relative;
    overflow: hidden;
}
.menu_details_desserts ul li:hover .green-check{
    transform: translate(-100%);
    transition-duration: 0.5s;
}
.menu_details_desserts ul li:hover .green-check .fas{
    transform: rotate(360deg);
    transition-duration: 0.5s;
} 
.menu_details_desserts ul li:hover .menu_prix{
    width: 75%;
}
.menu_details_desserts ul li:hover .menu_prix p{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
 