@import "../utils/mixins";
@import "../utils/variables";
@import "../components/buttons";

body{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
.header_menu{
    width: 100vw;
    height: 8vh;
    background-color: white;
    & img {
        width: 45%; 
        height: 60%;
        margin: auto;
        padding-top: 0px;
        position: relative;
    }
    & .fas {
        color: rgb(46, 46, 46);
        position: absolute;
        top: 3%;
        left: 8%;
    }
}
.img-principale{
    width: 100vw;
    height: 40vh;
    & img {
        width: 100%;
        height: 100%;
    }
}
/*le contenant titre menu + coeur*/
.description_menu{
    background-color: $grey-background;
    border-radius: 50px 50px 0px 0px;
    margin-top: -50px;
    height: max-content;
}
/* titre du menu + coeur */
.title_menu {
    height: 10vh;
    & h1{
        font-family: 'Shrikhand', cursive;
        font-size: 1.9em;
        padding-top: 20px;
        padding-left: 20px;
        background-color:$grey-background;
        border-radius: 30px 30px 0px 0px;
        position: relative;
        
    }
    & .far {
        position: absolute;
        top: 44%;
        left: 85%;
        font-size: 25px;  
    }
}
/* partie  entrées*/ 
.menu_détails_entrées{
    @include slide-card-menu;
    animation: slide-menu 2s ease;
    position: relative;
}
.menu_détails_entrées ul li{
    position: relative;
    overflow: hidden;
}
.green-check {
    background-color: $color-tertiary;
    border-radius: 0px 15px 15px 0px;
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 100%;
}
.green-check .fas{
    color: white;
    font-size: 25px;
    position: absolute;
    top: 30%;
    left: 25%;
}
.menu_détails_entrées ul li:hover .green-check{
    transform: translate(-100%);
    transition-duration: 0.5s;
}
.menu_détails_entrées ul li:hover .green-check .fas{
    transform: rotate(360deg);
    transition-duration: 0.5s;
} 
.menu_détails_entrées ul li:hover .menu_prix{
    width: 75%;
}
.menu_détails_entrées ul li:hover .menu_prix p{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* descriptif des plats - h3 et p*/
.menu_prix {
    height: 5vh;
    margin: 5px 20px 15px 10px;
    padding: 0px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & p{
        font-weight:400;
    }
    & .leprix{
        font-weight: bold;
    }
}
/*partie plats*/
.menu_détails_plats{
    @include slide-card-menu;
    animation: slide-menu 2.5s ease;
    transition-delay: 1000ms;
}
.menu_détails_plats ul li{
    position: relative;
    overflow: hidden;
}
.menu_détails_plats ul li:hover .green-check{
    transform: translate(-100%);
    transition-duration: 0.5s;
}
.menu_détails_plats ul li:hover .green-check .fas{
    transform: rotate(360deg);
    transition-duration: 0.5s;
} 
.menu_détails_plats ul li:hover .menu_prix{
    width: 75%;
}
.menu_détails_plats ul li:hover .menu_prix p{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*partie desserts*/
.menu_détails_desserts{
    @include slide-card-menu;
    animation: slide-menu 3s ease;
    transition-delay: 1000ms;
}
.menu_détails_desserts ul li{
    position: relative;
    overflow: hidden;
}
.menu_détails_desserts ul li:hover .green-check{
    transform: translate(-100%);
    transition-duration: 0.5s;
}
.menu_détails_desserts ul li:hover .green-check .fas{
    transform: rotate(360deg);
    transition-duration: 0.5s;
} 
.menu_détails_desserts ul li:hover .menu_prix{
    width: 75%;
}
.menu_détails_desserts ul li:hover .menu_prix p{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
 
@keyframes slide-menu{
    0%{
        transform: translate(0,5%);
        opacity: 0;
    }
    50%{
        opacity: 0.1;
    }
    100%{
        transform: translate(0,0%);
        opacity: 1;
    }
}

/*format tablette*/
@media screen and (min-width: 768px){
    .menu_détails_entrées, .menu_détails_plats, .menu_détails_desserts{
        @include slide-card-menu-tablet;
    } 
    .header_menu{
        width: 100vw;
        height: 12vh;
        background-color: white;
        & img {
            width: 28%; 
            height: 42%;
            margin: auto;
            padding-top: 0px;
            position: relative;
        }
        & .fas {
            color: rgb(46, 46, 46);
            font-size: 22px;
            position: absolute;
            top: 4%;
            left: 9%;
        }
    }
    .img-principale{
        width: 100vw;
        height: 60vh;
        & img {
            width: 100%;
            height: 100%;
        }
    }
    .title_menu {
        height: 10vh;
        & h1{
            font-family: 'Shrikhand', cursive;
            font-size:2em;
            padding-top: 20px;
            padding-left: 20px;
            background-color:$grey-background;
            border-radius: 30px 30px 0px 0px;
            position: relative;
        }
        & .far {
            position: absolute;
            top: 68%;
            left: 85%;
            font-size: 35px;  
        }
    }
    

@media screen and (min-width: 1024px){
    .menu_détails_entrées, .menu_détails_plats, .menu_détails_desserts{
        @include slide-card-menu-desktop;
    }

    .description_menu{
        background-color: $grey-background;
        border-radius: 50px 50px 0px 0px;
        margin-top: -100px;
        height: max-content;
    }
    .img-principale{
        height: 78vh;
        }
        .title_menu h1{
            font-family: 'Shrikhand', cursive;
            font-size:2.5em;
            padding-top: 20px;
            padding-bottom: 25px;
            padding-left: 60px;
        }  
        .title_menu .far {
            position: absolute;
            top: 80%;
            left: 92%;
            font-size: 38px;  
        }
    }
}