@import "../utils/mixins";
@import "../utils/variables";
@import "../components/buttons";

body{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
.header_menu{
    width: 100vw;
    height: 8vh;
    background-color: white;
    & img {
        width: 45%; 
        height: 60%;
        margin: auto;
        padding-top: 0px;
        position: relative;
    }
    & .fas {
        color: rgb(46, 46, 46);
        position: absolute;
        top: 3%;
        left: 8%;
    }
}
.img-principale{
    width: 100vw;
    height: 40vh;
    & img {
        width: 100%;
        height: 100%;
    }
}
/*le contenant titre du menu + coeur*/
.description_menu{
    background-color: $grey-background;
    border-radius: 50px 50px 0px 0px;
    margin-top: -50px;
    height: max-content;
}
/* titre du menu + coeur */
.title_menu {
    height: 10vh;
    position: relative;
    & h2{
        font-family: 'Shrikhand', cursive;
        font-size: 1.9em;
        padding-top: 20px;
        padding-left: 20px;
        background-color:$grey-background;
        border-radius: 30px 30px 0px 0px;
    }
    & .far {
        position: absolute;
        top: 44%;
        left: 85%;
        font-size: 25px;  
    }
}

/* partie  entrées*/ 
.menu_details_entrees{
    @include slide-card-menu;
    animation: slide-menu 1s ease;
    position: relative;
}
.menu_details_entrees ul li{
    position: relative;
    overflow: hidden;
}
.green-check {
    background-color: $color-tertiary;
    border-radius: 0px 15px 15px 0px;
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 100%;
    transition: all 1s;
}
.green-check .fas{
    color: white;
    font-size: 25px;
    position: absolute;
    top: 30%;
    left: 25%;
}

.menu_details_entrees ul li:hover .green-check{
    transform: translate(-100%);
    transition-duration: 0.5s;
    position: absolute;
    top: 0%;
    left: 101%;
}
.menu_details_entrees ul li:hover .green-check .fas{
    transform: rotate(360deg);
    transition-duration: 0.5s;
} 
.menu_details_entrees ul li:hover .menu_prix {
    margin: 0px 25px 0px 16px;
}
.menu_details_entrees ul li:hover .menu_prix p:nth-child(1){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 18px;
    
}
.menu_details_entrees ul li:hover .menu_prix p:nth-child(2){
    width: 15%;
    padding-right: 0;
    
}
/* descriptif des plats - h3 et p*/
.menu_prix {
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    margin: 0px 25px 0px 10px;
    padding-top: 3px;
    & p:nth-child(1){
        font-weight:400;
        width: 85%;
    }
    & .leprix{
        font-weight: bold;
    }
}

/*partie plats*/
.menu_details_plats{
    @include slide-card-menu;
    animation: slide-menu 2s ease-out;

}
.menu_details_plats ul li{
    position: relative;
    overflow: hidden;
}
.menu_details_plats ul li:hover .green-check{
    transform: translate(-100%);
    transition-duration: 0.5s;
    position: absolute;
    top: 0%;
    left: 101%;
}
.menu_details_plats ul li:hover .green-check .fas{
    transform: rotate(360deg);
    transition-duration: 0.5s;
} 
.menu_details_plats ul li:hover .menu_prix {
    margin: 0px 25px 0px 16px;
}
.menu_details_plats ul li:hover .menu_prix p:nth-child(1){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 18px;
}
.menu_details_plats ul li:hover .menu_prix p:nth-child(2){
    width: 15%;
    padding-right: 0;
}
/*partie desserts*/
.menu_details_desserts{
    @include slide-card-menu;
    animation: slide-menu 2.5s ease;
}
.menu_details_desserts ul li{
    position: relative;
    overflow: hidden;
}
.menu_details_desserts ul li:hover .green-check{
    transform: translate(-100%);
    transition-duration: 0.5s;
    position: absolute;
    top: 0%;
    left: 101%;
}
.menu_details_desserts ul li:hover .green-check .fas{
    transform: rotate(360deg);
    transition-duration: 0.5s;
} 
.menu_details_desserts ul li:hover .menu_prix {
    margin: 0px 25px 0px 16px;
}
.menu_details_desserts ul li:hover .menu_prix p:nth-child(1){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 18px;
}
.menu_details_desserts ul li:hover .menu_prix p:nth-child(2){
    width: 15%;
    padding-right: 0;
}
@keyframes slide-menu{
    0%{
        transform: translate(0,5%);
        opacity: 0;
    }
    50%{
        opacity: 0.1;
    }
    100%{
        transform: translate(0,0%);
        opacity: 1;
    }
}

/*format tablette*/
@media screen and (min-width: 768px){
    .menu_details_entrees, .menu_details_plats, .menu_details_desserts{
        @include slide-card-menu-tablet;
    } 
    .menu_details_plats ul li:hover .menu_prix {
        margin: 0px 25px 0px 20px;
    }
    .menu_details_entrees ul li:hover .menu_prix {
        margin: 0px 25px 0px 20px;
    }
    .menu_details_desserts ul li:hover .menu_prix {
        margin: 0px 25px 0px 20px;
    }
    .menu_details_entrees_plus ul li:hover .menu_prix {
        margin: 0px 25px 0px 20px;
    }
    .description_menu{
        background-color: $grey-background;
        border-radius: 50px 50px 0px 0px;
        margin-top: -100px;
        height: max-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    /*le contenant titre menu + coeur*/
    .description_menu{
        background-color: $grey-background;
        border-radius: 50px 50px 0px 0px;
        margin-top: -50px;
        height: max-content;
    }
    .title_menu{
        width: 100vw;
        height: 100%;
    }
    .title_menu h1{
        font-family: 'Shrikhand', cursive;
        font-size:2.5em;
        padding-top: 20px;
        padding-bottom: 25px;
        padding-left: 60px;
    }  
    .title_menu .far {
        position: absolute;
        top: 28%;
        left: 92%;
        font-size: 38px;  
    }
    /* descriptif des plats - h3 et p*/
    .menu_prix {
    & p:nth-child(1){
        font-size: 1.1em ;
    }
    & .leprix{
        font-weight: bold;
        font-size: 1.1em;  
    }
}
    .header_menu{
        width: 100vw;
        height: 12vh;
        background-color: white;
        & img {
            width: 28%; 
            height: 42%;
            margin: auto;
            padding-top: 0px;
            position: relative;
        }
        & .fas {
            color: rgb(46, 46, 46);
            font-size: 22px;
            position: absolute;
            top: 4%;
            left: 9%;
        }
    }
    .img-principale{
        width: 100vw;
        height: 60vh;
        & img {
            width: 100%;
            height: 100%;
        }
    }
    .title_menu {
        height: 10vh;
        position: relative;
        & h1{
            font-family: 'Shrikhand', cursive;
            font-size:2em;
            padding-top: 20px;
            padding-left: 20px;
            background-color:$grey-background;
            border-radius: 30px 30px 0px 0px;
        }
        & .far {
            position: absolute;
            top: 18%;
            left: 87%;
            font-size: 35px;  
        }
    }
    
@media screen and (min-width: 1024px){
    .menu_details_entrees, .menu_details_plats, .menu_details_desserts{
        @include slide-card-menu-desktop;
    .img-principale{
        height: 78vh;
    }
}
}

@media screen and (min-width:1600px){
    .menu_details_entrees,.menu_details_entrees_plus, .menu_details_plats, .menu_details_desserts{
    margin-right: 5px;
    }
}
}