/* partie plats, entrées, desserts*/
.menu_détails{
    @include slide-card-menu;
    animation: slide-menu 1.5s ease;
    height: max-content;
    & ul li {
    box-shadow: rgb(218, 216, 216)1px 3px 5px 2px;
    }
    & h2{
        padding: 30px 0px 20px 20px; 
    }
}
@media screen and (min-width: 768px){
    .menu_détails{
     height: 68vh;
    }
}