@import "./variables";

@mixin slide-card-menu {
    background-color: $grey-background;
    margin-top: 0px;
    & h2{
        font-size: 1.2em;
        padding-left: 10px;
    }
    & ul {
        padding: 0;
        width: 100vw;
    }
    & ul li{
        background-color: white;
        width: 95%;
        margin: auto;
        list-style-type: none;
        box-shadow: rgb(218, 216, 216)1px 6px 15px 5px;
        border-radius: 15px;
    }
    & h3{
        padding: 12px 7px 0px 7px;
    }
}
@mixin slide-card-menu-tablet {
    background-color: $grey-background;
    margin-top: 0px;
    & h2{
        font-size: 1.6em;
        padding-left: 20px;
    }
    & ul {
        padding: 0;
        width: 100vw;
    }
    & ul li{
        background-color: white;
        width: 95%;
        margin: auto;
        list-style-type: none;
        box-shadow: rgb(218, 216, 216)1px 6px 15px 5px;
        border-radius: 15px;
        font-size: 0.9em;
    }
    & h3{
        padding: 12px 7px 0px 7px;
        font-size: 1.2em;
    }
}
@mixin bouton-linear-gradient {
    background: linear-gradient($color-secondary, $color-primary);
    color: white;
    font-size: 1em;
    height: 7vh;
    width: 55vw;
    border-radius:30px;
    border: none;
    box-shadow: 0px 5px 5px 1px rgb(216, 214, 214);
    &:link {
        outline: none; /*pour retirer contour noir lors du click*/
        border:none;
    }
    &:visited {
        outline: none;
        border: none;
    }
    &:focus {
        outline: none; 
        border: none;
    }
    &:hover{
        outline: none;
        border: none;
        background: linear-gradient( rgb(255, 178, 243),rgb(206, 82, 255));
        box-shadow: 0px 4px 4px rgba(34,62,66,.5);
        -webkit-transition: box-shadow 1s ease;
        transition: box-shadow 1s ease;
    }
    &:active{
        outline: none; 
        border: none;
    }
}  
@mixin bouton-linear-gradient-tablet {
    background: linear-gradient($color-secondary, $color-primary);
    color: white;
    font-size: 1em;
    height: 7vh;
    width: 40vw;
    border-radius:30px;
    border: none;
    box-shadow: 0px 5px 5px 1px rgb(216, 214, 214);
    &:link {
        outline: none; /*pour retirer contour noir lors du click*/
        border:none;
    }
    &:visited {
        outline: none;
        border: none;
    }
    &:focus {
        outline: none; 
        border: none;
    }
    &:hover{
        outline: none;
        border: none;
        background: linear-gradient( rgb(255, 178, 243),rgb(206, 82, 255));
        box-shadow: 0px 4px 4px rgba(34,62,66,.5);
        -webkit-transition: box-shadow 1s ease;
        transition: box-shadow 1s ease;
    }
    &:active{
        outline: none; 
        border: none;
    }
}
@mixin background-nouveau {
    background-size: 100% 100%,contain;
    width: 80vw;
    height: 22vh;
    position: relative;
    border-radius: 15px 15px 0px 0px;
    & p{
        font-size: 0.9em;
        position: absolute;
        width: 28%;
        height: 25%;
        text-align: center;
        padding: 5px 0px 0px 0px;
        border-radius: 3px;
        background-color: rgb(136, 219, 191);
        color:  rgb(42, 148, 113);
        top: 10%;
        right: 5%;
    }
}
@mixin background-sans-nouveau {
    background-size: 100% 100%,contain;
    width: 80vw;
    height: 22vh;
    border-radius: 15px 15px 0px 0px;
    & p{
        visibility: hidden
    } 
}

@mixin background-nouveau-tablet {
    background-size: 100% 100%,contain;
    width: 40vw;
    height: 22vh;
    position: relative;
    border-radius: 15px 15px 0px 0px;
    & p{
        font-size: 0.9em;
        position: absolute;
        width: 28%;
        height: 25%;
        text-align: center;
        padding: 5px 0px 0px 0px;
        border-radius: 3px;
        background-color: rgb(136, 219, 191);
        color:  rgb(42, 148, 113);
        top: 10%;
        right: 5%;
    }
}
@mixin background-sans-nouveau-tablet {
    background-size: 100% 100%,contain;
    width: 40vw;
    height: 22vh;
    position: relative;
    border-radius: 15px 15px 0px 0px;
    & p{
        font-size: 0.9em;
        position: absolute;
        width: 28%;
        height: 25%;
        text-align: center;
        padding: 5px 0px 0px 0px;
        border-radius: 3px;
        background-color: rgb(136, 219, 191);
        color:  rgb(42, 148, 113);
        top: 10%;
        right: 5%;
    }
}

@mixin background-nouveau-desktop {
    background-size: 100% 100%,contain;
    width: 22vw;
    height: 45vh;
    position: relative;
    border-radius: 15px 15px 0px 0px;
    & p{
        font-size: 0.8em;
        position: absolute;
        width: 28%;
        height: 15%;
        text-align: center;
        padding: 8px 5px 0px 5px;
        border-radius: 3px;
        background-color: rgb(136, 219, 191);
        color:  rgb(42, 148, 113);
        top: 10%;
        right: 10%;
    }
}
@mixin background-sans-nouveau-desktop {
    background-size: 100% 100%,contain;
    width: 22vw;
    height: 45vh;
    position: relative;
    border-radius: 15px 15px 0px 0px;
    & p{
        font-size: 0.9em;
        position: absolute;
        width: 28%;
        height: 25%;
        text-align: center;
        padding: 5px 0px 0px 0px;
        border-radius: 3px;
        background-color: rgb(136, 219, 191);
        color:  rgb(42, 148, 113);
        top: 10%;
        right: 5%;
    }
}